{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3> {{user.username| capitalize}} </h3>
      {% if user.profile_pic %}
        <img src="{{url_for('static',filename=user.profile_pic)}}" alt="" class="img-thumbnail">
      {%else%}
        <p>No profile picture</p>
        {% if user == current_user %}
        <form action="{{url_for('main.update_pic',uname=user.username)}}" method="post" enctype="multipart/form-data">
          <input type="file" name="photo" class="form-control" required>
          <input type="submit" value='Upload Photo' class='mt-1 mb-1 btn'>
        </form>
        {% endif %}
      {% endif %}


      
      <a href="{{url_for('main.new_pitch')}}"><button class='btn btn-outline-success mt-2'>New Pitch</button></a>
    </div>
    <div class="col-md-8">
      {% if pitches %}
      {% for justone in pitches%}
      <div class="pitch">
        <div class="d-md-flex justify-content-between">
          <h3>{{ justone.title }}</h3>
          <p>{{ justone.posted }}</p>
        </div>
        <div class="text">
          <p>{{ justone.content }}</p>
        </div>
      </div>
      {% endfor %}
      {% else %}
        <p>No Pitches Yet</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}