.navcustom{
  background-image: linear-gradient(to right, #3E654C , #57D6D6);
  min-height: 90px;
}
.navcustom ul{
  width: 100%;

}
.navcustom ul li{
  margin: 0 80px;
}
.navcustom ul li>.title{
  font-size: 30px;
  text-decoration: none;
  color: black;
}
.navcustom ul li>.other{
  margin-top: 15px;
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid;
}

.navcustom ul li button:hover{
  background-color: #4B9E92;
  border: 0.5px solid beige;
  box-shadow: 5px;
  color: white;
}
.nav-item img{
  width: 60px;
  filter: white;
}

.loginForm{
  width: 450px;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.247);
  padding: 20px;
  border-radius: 5px;
  font-size: 17px;
}
input[type='submit']{
  margin-top:5px;
  border: 1px solid #4B9E92;
  background-color: white;
  color: black;
}
input[type='submit']:hover{
  border: 1px solid white;
  background-color: #4B9E92;
  color: white;
}
.home{
  background-color: rgba(0, 0, 0, 0.14);
  border-radius: 10px;
  max-width: 140vh;
  border-right: 5px solid;
  border-left: 5px solid;
}
.pitch{
  border-top: 1px solid;
  border-bottom: 5px solid;
  margin-top: 7px;
  padding: 15px;
  border-radius: 4px 4px 40px 4px;
}
.text{
  background: white;
  padding: 5px;
  border-radius: 3px;
}

.pitch button{
  margin-top:5px;
  border: 1px solid #4B9E92;
  background-color: white;
  color: black;
}

.pitch button:hover{
  border: 1px solid black;
  background-color: #4B9E92;
  color: white;
}
.commentForm {
  border-top: 1px solid;
  border-bottom: 5px solid;
  margin-top: 7px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.14);
  border-radius: 4px 4px 30px 4px;
}
footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #ffffff;
  height: auto;
  background-image: linear-gradient(to right, #3E654C , #57D6D6);
}
footer h4{
  color: #ffffff;
}
footer>.social{
  background-color: transparent;
}
footer>.social ol{
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
footer>.social ol li {
  padding: 5px;
  font-size: 15px;
  text-decoration: none;
  color: #ffffff;
}

footer>.social ol li >.fa {
  padding: 5px;
  font-size: 25px;
  text-decoration: none;
  color: #ffffff;
}
footer>.social ol li>.fa:hover{
  font-size: 35px;
  color: #ffffff;
  transition: ease-in 0.1s;
}

footer>.footer_info p{
  font-size: 15px;
}