{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block content%}
<h1>Working</h1>
<div class="container">
  {% for nopit in pitch %}
    <p>{{ nopit.title }}</p>
    <a href="{{ url_for('main.comment', id= nopit.id) }}"><button>Comment</button></a>
    <form action="#">
        {% for subfield in vote_form.vote %}
        <p>
            {{ subfield }}
            {{ subfield.label }}
        </p>
        {% endfor %}
      </form>
    {{trial}}

  {% endfor %}
</div>




{% endblock %}