<div class="navbar navcustom navbar-inverse" role="navigation">
  <div class="container-fluid">
      <div class="navbar-header">
          <a href='/' class="nav-item nav-link title ml-md-3"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.shareicon.net%2Fdata%2F2016%2F07%2F10%2F119323_stopwatch_512x512.png&f=1&nofb=1" alt="logo" class="img-fluid"></a>
      </div>

      <div class="nav navbar-nav navbar-right">
        <ul class="nav d-flex">
          <li><a class="nav-item other" href="/">Home</a></li>
          <li><a class="nav-item other" href="{{url_for('main.new_pitch')}}">Pitch</a></li>

          {% if current_user.is_authenticated %}
          <li><a class="nav-item other" href="{{ url_for('main.profile', uname = current_user.username) }}">{{ current_user.username| capitalize }}</a></li>
          <li><a class="nav-item other" href="{{url_for('auth.logout')}}">Log Out</a></li>
          {% else %}
          <li><a class="nav-item other" href="{{url_for('auth.login')}}">Sign In</a></li>
          {% endif %}
        </ul>
      </div>
  </div>
</div>
<hr>